<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403216300283-vc50irqai81vu3s3b2eanejjdmju26t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403216300283-vc50irqai81vu3s3b2eanejjdmju26t3</string>
	<key>API_KEY</key>
	<string>AIzaSyBGfA3DBoYwgqA-XA1418hN4m1UNvRPrys</string>
	<key>GCM_SENDER_ID</key>
	<string>403216300283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatApp-Firestore</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bd70a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bd70a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403216300283:ios:c7f285ce29b056df7fd85e</string>
</dict>
</plist>